#!/usr/bin/env ruby

require 'compass'

Compass.add_project_configuration 'compass_config.rb'

#
#   Routing
#
route '/robots' do
  '/robots.txt'
end

route '/scripts/_*/' do; nil; end
route '/scripts/scripts/' do
  item.identifier.gsub(/\/$/,'.js')
end

route '/styles/_*/' do; nil; end
route '/styles/styles/' do
 item.identifier.gsub(/\/$/, '.css')
end

route '/styles/ie/' do
  item.identifier.gsub(/\/$/, '.css')
end

route '*' do
  item.identifier + 'index.html'
end

#
#   Compile
#
compile '/htaccess/' do; end
compile '/robots/'   do; end

compile '/scripts/_*/' do; end
compile '/scripts/scripts/' do
  filter :erb
  filter :yui_compressor
end

compile '/styles/_*/' do; end 
compile '/styles/styles/' do
  filter :sass, Compass.sass_engine_options
end

compile '/styles/ie/' do
  filter :sass, Compass.sass_engine_options
end

compile '*' do
  filter :erb
  layout 'default'
end

#
#   Layouts
#
layout '*', :erb
